<!DOCTYPE html>
<html>
<head>
  <title>British Youth American Football Association</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h2> British Youth American Football Association </h2>
  <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Unknown_Early_American_Football_Team.jpg" width= "500", height=275> </img>
  <h3>The youngest, the most British.</h3>
  <%= yield %>

</body>
</html>
